@import "src/util/util";

@mixin carView() {
  #body {
    @include basic_flex();
    h1{
        color: $accent_color;
    }
  }

  #carDisplay{
    @include basic_element(30%, 25%, 20px, 3px);
    min-width: 600px;
    min-height: 350px;

    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;

    .dataRow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .dataName{
            color: $accent_color;
        }
    }
  }
}
